* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Nav bar */
header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.6s linear;
}

header::after {
    content: '';
    display: block;
    height: 2px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.menu-icon {
    width: max-content;
    padding: 0;
    background-color: transparent;
    border: 0;
    margin: 8px auto;
    display: none;
    cursor: pointer;
}

.menu-icon:focus {
    outline: none;
}

.menu-icon div {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    margin: 6px 0;
}

.menu-icon:hover div {
    background-color: rgb(210, 210, 210);
}

.main-nav__items {
    list-style: none;
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-nav__item {
    margin-left: 10%;
    font-size: 1.3rem;
    font-weight: 300;

    color: white;
    transition: color 0.2s linear;
    cursor: pointer;
}

.main-nav__item:first-child {
    margin-left: 0;
}

.main-nav__item:hover {
    color: rgb(210, 210, 210);
}

/* Overview section */
#overview {
    background-image: url('images/overview-image.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#overview::before {
    content: '';
}

#overview .description {
    filter: blur(10px);
    transition: filter 0.5s linear;
}

#overview .title {
    color: white;
    font-size: 3rem;
}

#overview .sub-title {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.arrow-down {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.arrow-down:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* About */
main {
    background-color: #f0f0f0;
    padding-bottom: 1px;
}

#about {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.profile-pic {
    display: block;
    width: 200px;
    height: auto;
    margin: 10px auto;
    border-radius: 50%;
}

#about .description {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px auto;
}

/* Education */
#education {
    margin: 50px auto;
    padding: 15px 10px 10px 10px;
    background-image: url('images/education-section.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

#education article {
    background-color: white;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

#education img {
    width: 20%;
    margin-right: 10px;
}

#education .description {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#education .sub-heading {
    margin-top: 0;
}

#education .college {
    display: flex;
    justify-content: space-between;
}

/* Projects */
#projects {
    margin: 50px auto;
}

#projects .container {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}

.project {
    width: 330px;
    height: 500px;
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.2s ease-in-out;
}

.project:hover {
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
    transform: scale(1.02);
}

.project > .photo {
    height: 350px;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
}

.project > .description {
    padding: 5px 10px;
}

.project > .description > strong {
    font-size: 1.1rem;
}

.project > .links {
    margin-bottom: 10px;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

/* Skills */
#skills {
    margin: 50px auto;
}

#skills > .container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#skills img {
    width: 120px;
    filter: grayscale(100%);
    transition: filter 0.3s linear;
}

#skills img:hover {
    filter: grayscale(0%);
}

/* Contact */
#contact .container {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

#contact form {
    width: 90%;
    max-width: 500px;
    height: 300px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
}

#from-name,
#from-email {
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: inherit;
    padding: 8px;
    flex-basis: 48%;
    transition: all 0.2s linear;
}

#message {
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: inherit;
    height: 150px;
    padding: 8px;
    flex-basis: 100%;
    resize: none;
    transition: all 0.2s linear;
}

#from-name:focus,
#from-email:focus,
#message:focus {
    outline: none;
    border-color: rgba(255, 69, 0, 0.8);
}

#contact button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

#contact button:hover {
    color: rgba(255, 69, 0, 0.8);
    border-color: rgba(255, 69, 0, 0.8);
}

#contact .others {
    padding-top: 25px;
}

#contact .others > div {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

#contact .others i {
    display: inline-block;
    margin-right: 10px;
}

#contact .others a {
    text-decoration: underline solid black;
    color: inherit;

}



@media (max-width: 830px) {
    .menu-icon {
        display: block;
    }

    .main-nav__items {
        overflow-y: hidden;
        padding: 0;
        flex-direction: column;
        align-items: center;
        transition: height 0.3s ease-in-out;
    }

    .main-nav__item {
        margin: 0 0 10px 0;
        border-bottom: 1px solid white;
    }

    #contact .container {
        flex-direction: column;
    }

    #contact .container form{
        margin-right: auto;
        margin-left: auto;
    }

    #contact .others{
        margin-left: auto;
        margin-right: auto;
    }

}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 10px;
}
.footer-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-nav__item {
    margin: 0 6px;
}

.footer-nav__item:nth-child(1) img,
.footer-nav__item:nth-child(2) img {
    /* margin-top: 3px; */
    width: 28px;
}

.footer-nav__item:nth-child(3) img {
    height: 28px;
}

footer .description {
    text-align: center;
    margin-top: 5px;
}

.heart{
    display: inline-block;
    color:#e25555;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.arrow-up {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom: 3px solid black;
    cursor: pointer;
    transition: all 0.1s linear;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 40px;
    right: -3.5rem;
}

.arrow-up:active {
    border-bottom: 1px solid black;

}

.arrow-up:focus {
    outline: none;
}